{% extends 'base.html.twig' %}

{% block header_title %}<h1 style="text-align: center;">Sélectionner</h1><hr>{% endblock %}
{% block header_img %}{% endblock %}

{% block body %}
    <div class="row" style="text-align: center;">
        <div class="col-md-6">
            <a href="{{ path('user_create') }}">
            <button type="button" class="btn btn-primary">Créer un utilisateur</button>
            </a>
        </div>
        <div class="col-md-6">
            <a href="{{ path('user_list') }}">
            <button type="button" class="btn btn-warning">Modifier un utilisateur</button>
            </a>
        </div>
    </div>
{% endblock %}